
@charset "utf-8";
.pay_layer {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    left: 0;
    position: absolute;
    top: 0;
}
.pay_layer s {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/layer/layer_ico.png") no-repeat scroll 0 0;
    font-size: 1px;
    height: 11px;
    left: 100px;
    overflow: hidden;
    position: absolute;
    top: -11px;
    width: 22px;
}
.pay_layer .close {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/layer/layer_close1.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 3px;
    text-indent: -9999px;
    top: 3px;
    width: 20px;
    z-index: 10;
}
.pay_layer .close:hover {
    background-position: 0 0;
}
.pay_layer_t {
    background: #54c11a none repeat scroll 0 0;
    color: #fff;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    margin: -1px -1px 0 0;
    padding: 1px 0 0;
    text-shadow: 1px 0 1px rgba(233, 255, 169, 0.6);
}
.pay_layer_t span {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 0 14px;
}
.pay_layer_t ul {
    float: left;
    height: 27px;
    line-height: 27px;
    padding: 5px 0 0 5px;
}
.pay_layer_t li {
    cursor: pointer;
    float: left;
    font-size: 15px;
    margin: 0;
    text-align: center;
    width: 62px;
}
.pay_layer_t li.i1 {
    display: inline-block;
    font-size: 13px;
    padding: 0 14px;
    width: auto;
}
.pay_layer_t li.i2 {
    font-size: 13px;
    margin: 0;
    padding: 0 9px;
    width: auto;
}
.pay_layer_t li.active {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #626060;
}
.pay_layer_conn {
    background: #fff none repeat scroll 0 0;
    border-radius: 0 0 2px 2px;
}
.pay_line {
    font-size: 1px;
    height: 1px;
    overflow: hidden;
}
.pay_layer .btn_btn_a, .pay_layer .btn_btn_a span, .pay_layer .btn_btn_b, .pay_layer .btn_btn_b span {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/layer/layer_btn.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 0 0 2px;
    vertical-align: middle;
}
.pay_layer .btn_btn_a span, .pay_layer .btn_btn_b span {
    background-position: 100% -34px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 0 2px 0 0;
    text-align: center;
    vertical-align: top;
    width: 92px;
}
.pay_layer .btn_btn_b {
    background-position: 0 -78px;
}
.pay_layer .btn_btn_b span {
    background-position: 100% -112px;
    color: #626060;
}
.pay_layer .btn_btn_a:hover, .pay_layer .btn_btn_b:hover {
    text-decoration: none;
}
.pay_layer_selconn {
    padding: 10px 0;
}
.pay_layer_sel ul {
    font-size: 0;
}
@media not all {
.pay_layer_sel ul {
    letter-spacing: -5px;
}
}
.pay_layer_sel li {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    letter-spacing: normal;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 19px;
    vertical-align: top;
    width: 85px;
    word-spacing: normal;
}
.pay_sel_scroll {
    height: 120px;
    overflow: hidden;
    position: relative;
}
.pay_sel_scroll .pay_layer_sel {
    float: left;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 520px;
}
.pay_sel_scroll .scroll_bar {
    display: inline;
    float: right;
    height: 120px;
    margin: 0 7px 0 0;
    position: relative;
    width: 6px;
}
.pay_layer_confirm {
    width: 371px;
}
.layer_confirm {
    padding: 15px 9px 17px;
}
.layer_confirm .minheight {
    height: 168px;
}
.layer_confirm .confirm_info {
    font-size: 0;
    margin: 0 0 16px;
}
@media not all {
.layer_confirm .confirm_info {
    letter-spacing: -5px;
}
}
.layer_confirm .confirm_info li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 22px;
    padding: 4px 0;
    vertical-align: top;
    word-spacing: normal;
}
.layer_confirm .confirm_info li.i1 {
    padding-right: 10px;
    text-align: right;
    width: 105px;
}
.layer_confirm .confirm_info li.i2 {
    width: 215px;
}
.layer_confirm .confirm_txt {
    padding: 20px 0 0 7px;
}
.layer_confirm .confirm_txt strong {
    color: #ff7800;
    display: block;
    font-size: 18px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 0 0 11px;
}
.layer_confirm .confirm_txt p {
    line-height: 22px;
}
.layer_btnbox {
    border-top: 1px solid #ccc;
    padding: 16px 0 0;
    text-align: center;
}
.scroll_bar {
    position: relative;
    width: 6px;
}
.scroll_bar .cur_bar {
    background: #54c11a none repeat scroll 0 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 15;
}
.scroll_bar .cur_bar .ct, .scroll_bar .cur_bar .cb {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/layer/scroll.png") no-repeat scroll 0 0;
    display: inline-block;
    font-size: 1px;
    height: 4px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 6px;
}
.scroll_bar .cur_bar .cb {
    background-position: -6px 0;
    bottom: 0;
    top: auto;
}
.disable {
    display: none;
}
.layer_loading {
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
}
.layer_loading .loading {
    height: 83px;
    margin: 0 auto 19px;
    position: relative;
    width: 85px;
}
.layer_loading .loading .t, .layer_loading .loading .b {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/layer/radius_2.png") no-repeat scroll 0 0;
    display: block;
    font-size: 1px;
    height: 2px;
    overflow: hidden;
}
.layer_loading .loading .b {
    background-position: 0 -2px;
}
.layer_loading .loading_conn {
    background: #fff none repeat scroll 0 0;
    padding: 8px 0;
    text-align: center;
}
.layer_loading .txt {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.pay_layera {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c5c5c5;
    left: 0;
    position: absolute;
    top: 0;
}
.pay_layera .layer_tit {
    background: #54c11a none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    padding: 0 8px;
    position: relative;
}
.pay_layera .close {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/layer/layer_close1.png") no-repeat scroll 0 0;
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 8px;
    text-indent: -9999px;
    top: 8px;
    width: 20px;
}
.pay_layer_phone {
    width: 596px;
}
.pay_layer_phone .layer_phone {
    margin: 25px 6px 50px;
}
.pay_layer_help {
    height: 478px;
    width: 740px;
}
.pay_layer_help .layer_help {
    padding: 8px 13px;
}
.pay_layer_help .help_nav {
    float: left;
    width: 168px;
}
.pay_layer_help .help_nav ul {
    background: #f2f8ff none repeat scroll 0 0;
    border: 1px solid #a1cdfe;
    padding: 0 8px 15px;
}
.pay_layer_help .help_nav li {
    border-bottom: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
}
.pay_layer_help .help_nav li a {
    display: block;
    height: 30px;
}
.pay_layer_help .help_nav li.cur a {
    color: #0066d8;
}
.pay_layer_help .help_conn {
    float: right;
    width: 538px;
}
.pay_layer_help .help_conn strong {
    border-bottom: 1px solid #ccc;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    padding: 0 5px;
}
.pay_layer_help .help_conn .txt {
    padding: 8px 5px;
}
.pay_layer_help .help_conn .txt p {
    line-height: 18px;
}
.pay_layer_help .help_conn .tab {
    background: #cecece none repeat scroll 0 0;
    border-collapse: inherit;
    border-spacing: 1px;
}
.pay_layer_help .help_conn .tab th, .pay_layer_help .help_conn .tab td {
    background: #fff none repeat scroll 0 0;
    font-size: 13px;
    height: 30px;
    padding: 0 5px;
    text-align: center;
}
.pay_layer_help .help_conn .tab th {
    font-size: 14px;
}
.pay_layer_confirm1 {
    width: 426px;
}
.pay_layer_confirm1 .layer_confirm .confirm_info li.i1 {
    width: 160px;
}
.pay_layer_confirm1 .layer_confirm .minheight {
    height: auto;
}
.layer_confirm li.lw_rebate {
    color: red;
    display: none;
    text-align: center;
    width: 330px;
}
