
@charset "utf-8";
.left_nav {
    margin: 0 0 44px;
    padding: 3px 8px;
    width: 179px;
}
.left_nav li {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    padding: 12px 0 12px 72px;
    position: relative;
}
.left_nav li strong {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
}
.left_nav li .ico_ico {
    left: 32px;
    position: absolute;
    top: 22px;
}
.left_nav li p {
    line-height: 20px;
}
.left_nav li.cur {
    border: 3px solid #54c11a;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -4px;
    padding: 13px 0 10px 78px;
}
.left_nav li.cur .ico_ico {
    left: 38px;
    top: 23px;
}
.left_nav li .ico_use, .left_nav li.cur .ico_use {
    left: auto;
    right: 11px;
    top: -8px;
}
.left_nav li a {
    cursor: pointer;
}
.left_kf {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 0 44px;
    text-align: center;
}
.left_kf .ico_ico {
    margin: 0 12px 0 0;
}
.left_kf a {
    display: block;
    height: 24px;
}
