
@charset "utf-8";
body, button, input, select, textarea {
    color: #404040;
    font: 12px/1.125 "Microsoft YaHei";
}
sub, sup {
    line-height: 0;
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
li {
    list-style: outside none none;
}
fieldset, img {
    border: 0 none;
}
input, textarea {
    outline-style: none;
}
textarea {
    resize: none;
}
address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: normal;
}
a {
    color: #404040;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #0066d8;
    text-decoration: underline;
}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
