@charset "utf-8";
body {
	margin:0 auto;
	height:90%
}
body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p,
	blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea {
	color: #404040;
	font: 12px/1.125 "Microsoft YaHei";
}

body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p,
	blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.frame_conn {
	background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/common/bgy01.png")
		repeat-y scroll 0 0;
	border: 1px solid #e8e8e8;
	margin: 0 35px 0 0;
	width: 600px;
}

.clearfix {
	
}

body, button, input, select, textarea {
	color: #404040;
	font: 12px/1.125 "Microsoft YaHei";
}

.frame_content {
	margin: 0 auto;
	width: 500px;
}

.wrap {
	background: #fff none repeat scroll 0 0;
	padding: -16px 0 0;
	width: 80%;
	text-align: center;
}


.pay_money_conn li label, .pay_bank_conn li label {
	cursor: pointer;
}

.pay_sel {
	font-size: 0;
	margin: 0 auto;
	padding: 34px 0 22px;
	position: relative;
	width: 500px;
	z-index: 10;
}
.pay_sel li.err {
    color: #f00;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 500px;
}

.pay_sel li .pay_layer {
    display: none;
    left: 0;
    top: 50px;
    width: 500px;
}
.pay_sel li .btn_sel .ico_ico {
    margin: 0 0 0 6px;
}
.pay_sel li.cur .pay_layer {
    display: block;
}
.pay_sel li.lst .pay_layer {
    left: auto;
    right: -57px;
}

.pay_rconn {
	margin: 0 auto;
	width: 650px;
}

.pay_money_conn .tips p {
	line-height: 22px;
}

.pay_money_conn .tips {
	color: #a3a3a3;
}

.tit_a {
	border-bottom: 1px solid #e5e5e5;
	font-size: 12px;
	font-weight: normal;
	height: 35px;
	line-height: 35px;
	text-align: left;
}

.pay_money_conn {
	padding: 8px 0 8px 5px;
}

.pay_btnbox {
	margin: 0 0 47px;
	text-align: center;
}

.btn_btn {
    background: rgba(0, 0, 0, 0) url("https://cdn-prod.36b.me/recharge/static/images/common/p_btn.png") no-repeat scroll -60px -63px;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.btn_pay, .btn_pay_disabled {
    background-position: -63px -53px;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 100px;
}

a {
	color: #404040;
	outline: medium none;
	text-decoration: none;
}

a {
	outline: 0 none;
	text-decoration: none;
}

.pay_money_conn ul {
	font-size: 0;
}

.pay_money_conn li {
    display: inline-block;
    font-size: 14px;
    height: 25px;
    letter-spacing: normal;
    line-height: 25px;
    margin: 0 0 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 200px;
    word-spacing: normal;
    z-index: 1;
}
.pay_money_conn li.lst {
    display: block;
    margin: 0 0 10px;
    width: auto;
}
.pay_money_conn li label, .pay_bank_conn li label {
    cursor: pointer;
}

li {
	list-style: outside none none;
}

.input_chk {
	margin-right: 5px;
	vertical-align: -2px;
}

input, textarea {
	outline-style: none;
}

.main_payFor a.on, .main_payFor a:hover {
    background: rgba(0, 0, 0, 0) url("../image/radio.png") no-repeat scroll 0 -50px;
    color: #6ca200;
}
.main_payFor a {
    background: rgba(0, 0, 0, 0) url("../image/radio.png") no-repeat scroll 0 -14px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    margin: 3px 142px 3px 0;
    padding: 0 0 0 32px;
    width: 144px;
}
.main_title {
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    text-align: left;
    width: 764px;
}
div, span, ul, li, p, h1, h2, h3, h4, h5, h6, img, p, dl, dt, dd, form, input {
    margin: 0;
    padding: 0;
}

.main_money_a {
    background: rgba(0, 0, 0, 0) url("../image/radio.png") no-repeat scroll 0 -14px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 32px;
    width: 94px;
}
a {
    text-decoration: none;
}