.PT_title {
    height: 28px;
    border-bottom: 1px solid #D8D8D8;
    background: transparent -moz-linear-gradient(center top , #FAFAFA 0%, #EDEDED 100%) repeat scroll 0% 0%;
}
.PT_title h3 {
    float: left;
    height: 28px;
    color: #4C4C4C;
    font-size: 13px;
    line-height: 28px;
    overflow: hidden;
    margin: 0px;
    padding-left: 10px;
    font-weight: bold;
}
.PT_title button {
    float: right;
    line-height: 100px;
    cursor: pointer;
    font-size: 10px;
}
.PT_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4000;
    transition: left 0.6s ease-out 0s, top 0.6s ease-out 0s, width 0.6s ease-out 0s, height 0.6s ease-out 0s;
}
.PT_popup {
    position: absolute;
    border: 1px solid #535658;
    box-shadow: 0px 0px 3px #535658;
    background-color: #FFF;
    font-size: 12px;
    font-family: "Microsoft Yahei",Tohama;
    transition: left 0.6s ease-out 0s, top 0.6s ease-out 0s, width 0.6s ease-out 0s;
}

.PTContent {
    color: #5F5F5F;
    background-color: #FFF;
    overflow: hidden;
    position: relative;
    transition: height 0.6s ease-out 0s;
}
.PT_content_frame {
    transition: width 0.6s ease-out 0s, height 0.6s ease-out 0s;
}
.PT_close {
     background-color: transparent;
    background-image: url("https://cdn-prod.36b.me/recharge/static/images/box/close.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    float: right;
    width: 34px;
    height: 24px;
    line-height: 100px;
    border: 0px none;
    cursor: pointer;
    font-size: 10px;
}