#PT .PT_b {
    filter: alpha(opacity = 80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    #background-image: url(PT.gif);
    width: 10px;
}

#PT {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
    display: none;
}

#PT .PT_popup {
    position: relative;
}

#PT table {
    border-collapse: collapse;
    border-spacing: 0;
}

#PT td {
    border-bottom: 0;
    padding: 0;
}

#PT .PT_body {
    background-color: #ffffff;
    border: 1px solid #4D7BE0;
}

#PT img {
    border: 0;
    margin: 0;
}

#PT .PT_title {
    height: 28px;
    color: #000000;
    width: 100%;
    background: url(https://cdn-prod.36b.me/recharge/static/images/box/titleBG.png) repeat-x;
}

#PT .PT_title .PT_itemTitle {
    padding-left: 5px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
}

#PT .PT_title .PT_close {
    background: url(https://cdn-prod.36b.me/recharge/static/images/box/close.png) no-repeat 0 0;
    height: 14px;
    width: 14px;
    overflow: hidden;
    cursor: pointer;
}

#PT .PT_title .on {
    background-position: 0 -14px;
}

#PT .PT_tl, #PT .PT_tr, #PT .PT_bl, #PT .PT_br {
    height: 10px;
    width: 10px;
    overflow: hidden;

#background-image:
    url(images/box/PT.gif);
    padding:
    0;
    filter:
    alpha(opacity = 80);
    -moz-opacity:
    0.8;
    opacity:
    0.8;
}

#PT #PTContent {
    padding: 3px;
}

#PT_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

#PT .PT_load {
    width: 270px;
}

.PT_hide {
    z-index: -100;
}

.PT_overlayBG {
    background-color: #FFF;
    z-index: 99;
}

#PT #PT_loading {
    width: 32px;
    height: 32px;
    margin: 0 auto;
}